# fly.toml app configuration file generated for dlab-website on 2026-01-11T21:37:22+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'dlab-website'
primary_region = 'nrt'
console_command = '/rails/bin/rails console'

[build]

[env]
  PORT = '8080'
  DATABASE_URL = "sqlite3:///rails/storage/production.sqlite3"

[mounts]
  source = "dlab_storage"
  destination = "/rails/storage"

[processes]
  app = './bin/rails server -p 8080 -b 0.0.0.0'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 512
